<!DOCTYPE html>
<html lang="en" data-ng-app="TabSetOptionsApp" data-ng-csp>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- build:css ../assets/css/main.css -->
  <link rel="stylesheet" type="text/css" href="../assets/css/chrome-bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.css">
  <!-- endbuild -->
  <!-- build:js ../assets/js/main.js -->
  <script type="text/javascript" src="../assets/js/angular.js"></script>
  <script type="text/javascript" src="../assets/js/angular-sanitize.js"></script>
  <script type="text/javascript" src="../assets/js/ui-bootstrap-dialog.js"></script>
  <script type="text/javascript" src="../app/app.js"></script>
  <!-- endbuild -->
  <script type="text/javascript" src="controller.js"></script>
  <style>
    textarea.ng-invalid.ng-dirty {
      -webkit-transition: border-color 100ms;
      border-color: #dc604d;
    }

    .expandable {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 400ms ease-out;
    }

    .expandable.expanded {
      max-height: 200px;
      overflow-y: scroll;
    }

    ul.hlist li {
      float: left;
      margin-right: 10px;
      list-style: square inside none;
    }

    .view-enter {
      transition: 200ms all;
    }
    .view-enter.view-enter-active {
      transition-delay: 100ms;
    }
    .view-leave {
      transition: 100ms all;
    }

    .view-leave.view-leave-active,
    .view-enter {
      margin-left: -20px;
      opacity: 0;
      z-index: 0;
    }
    .view-leave,
    .view-enter.view-enter-active {
      margin-left: 0;
      opacity: 1;
      z-index: 1;
    }

    .list-enter,
    .list-leave,
    .list-move {
      transition: 300ms linear all;
      position:relative;
    }
    .list-leave.list-leave-active,
    .list-enter {
      left:-10px;
      opacity:0;
    }
    .list-leave,
    .list-enter.list-enter-active {
      left:0;
      opacity:1;
    }

    .list-move {
      opacity:0.5;
    }
    .list-move.list-move-active {
      opacity:1;
    }
  </style>
</head>
<body class="frame" data-ng-cloak>
  <div class="navigation" ng-data-controller="NavigationController">
    <h1><a href="#">TabSet</a></h1>
    <ul class="menu">
      <li>
        <a data-active-link data-active-target="parent" href="#/browse">Browse</a>
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a data-active-link data-active-target="parent" href="#/create">Create</a>
      </li>
      <li>
        <a data-active-link data-active-target="parent" href="#/import">Import</a>
      </li>
      <li>
        <a data-active-link data-active-target="parent" href="#/tools">Tools</a>
      </li>
    </ul>
  </div>
  <div class="viewport" data-ng-view data-ng-animate="'view'"></div>

  <script type="text/ng-template" id="browse.html">
    <div class="view">
      <header class="fixed">
        <h1>Browser Tabsets</h1>
        <div class="corner cancelable">
          <input type="search" placeholder="Search" data-ng-model="query">
        </div>
      </header>
      <div class="content">
        <ul class="highlightable" data-ng-if="session.allTabSets.length > 0">
          <li data-ng-repeat="tab_set in session.allTabSets | filter:fuzzyTabSet(query)" data-ng-animate="'list'">
            <div class="highlight-area reveal-area active-area" data-ng-click="expanded=!expanded">
              <dl>
                <dt>
                  <a class="action pull-right reveal delete" data-ng-click="dropTabSet(tab_set); $event.stopPropagation()">Delete</a>
                  <a class="action pull-right badge reveal" data-ng-click="launchTabSet(tab_set); $event.stopPropagation()">Launch</a>
                  <a class="action pull-right badge reveal" data-ng-click="exportTabSet(tab_set); $event.stopPropagation()">Export</a>
                  <span class="fit">
                    <span data-ng-bind-html="tab_set.name | fuzzy_highlight:query"></span>
                    <a class="action reveal" data-ng-click="renameTabSet(tab_set); $event.stopPropagation()"><i class="icon-edit"></i></a>
                  </span>
                </dt>
                <dd>
                  <ul class="hlist">
                    <li>Tabs (opened/total): {{ (tab_set.entries | filter:{isOpen:true}).length }} / {{ tab_set.entries.length }}</li>
                    <li>Last Opened: {{ tab_set.lastOpened.toLocaleString() }}</li>
                    <li>Last Closed: {{ tab_set.lastClosed.toLocaleString() }}</li>
                    <li>Created: {{ tab_set.created.toLocaleString() }}</li>
                  </ul>
                </dd>
              </dl>
            </div>
            <ul class="scrollbox expandable highlightable" data-ng-class="{'expanded': expanded || query}">
              <li data-ng-repeat="entry in tab_set.entries | filter:fuzzyEntry(query)" data-ng-animate="'list'">
                <div class="highlight-area reveal-area">
                  <dl>
                    <dt data-ng-class="{'muted': !entry.isOpen}">
                      <a class="action pull-right reveal delete" data-ng-click="dropTabSetEntry(tab_set, entry)">Delete</a>
                      <a class="action pull-right badge reveal" data-ng-click="launchEntry(tab_set, entry)">Launch</a>
                      <span class="fit">
                        <img data-ng-src="{{ entry.url | favicon }}">
                        <span data-ng-bind-html="entry.title | default:entry.url | fuzzy_highlight:query"></span>
                      </span>
                    </dt>
                    <dd>
                      <span class="fit" data-ng-bind-html="entry.url | fuzzy_highlight:query"></span>
                    </dd>
                  </dl>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <p data-ng-if="session.allTabSets.length == 0">
          No TabSets found.
          <a href="#/create">Create</a> a new TabSet or
          <a href="#/import">import</a> existing TabSets.
        </p>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="create.html">
    <div class="view">
      <header class="fixed with-controls">
        <h1>Create TabSet</h1>
        <div class="controls">
          <input type="text" placeholder="New TabSet Name" data-ng-model="name">
          <label>
            <input type="checkbox" data-ng-model="useCurrentWindow">
            <span>use current window</span>
          </label>
          <div class="spacer"></div>
          <button data-ng-disabled="!name || !currentWindow" data-ng-click="createTabSet()">Create</button>
        </div>
      </header>
      <div class="content">
        <section>
          <h3>Preview</h3>
          <ul class="highlightable" data-ng-show="useCurrentWindow && currentWindow && currentWindow.tabs.length > 0">
            <li data-ng-repeat="tab in currentWindow.tabs | filter:validTab">
              <div class="highlight-area">
                <dl>
                  <dt>
                    <span class="fit">
                      <img data-ng-src="{{ tab.url | favicon }}">
                      {{ tab.title }}
                    </span>
                  </dt>
                  <dd class="fit">
                    {{ tab.url }}
                  </dd>
                </dl>
              </div>
            </li>
          </ul>
          <p data-ng-show="currentWindow && (!useCurrentWindow || !currentWindow || currentWindow.tabs.length == 0)">
            Empty.
          </p>
          <p data-ng-show="!currentWindow">
            Loading...
          </p>
        </section>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="import.html">
    <div class="view">
      <header class="fixed">
        <h1>Import Tabsets</h1>
      </header>
      <div class="content">
        <form novalidate name="importForm">
          <p>Choose a file or paste exported json into the textarea.</p>
          <p><input data-text-file-input data-ng-model="json" type="file"></p>
          <textarea data-json="array" rows="24" style="width: 700px;" data-ng-model="json"></textarea>
          <div class="button-strip">
            <button data-ng-disabled="!importForm.$dirty" data-ng-click="reset()">Clear</button>
            <button type="submit" data-ng-disabled="!importForm.$dirty || importForm.$invalid" data-ng-click="importJson()">Import</button>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="tools.html">
    <div class="view">
      <header class="fixed">
        <h1>Tools</h1>
      </header>
      <div class="content">
        <section>
          <h3>Data</h3>
          <div class="button-strip">
            <button class="button" data-ng-click="importData()">Import</button>
            <button data-ng-click="exportData()">Export All</button>
            <button data-ng-click="clearData()">Clear All</button>
          </div>
        </section>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="confirmDialog.html">
    <div class="page">
      <h1>{{ title }}</h1>
      <div class="content-area">
        {{ body }}
      </div>
      <div class="action-area">
        <div class="action-area-right">
          <div class="button-strip">
            <a class="btn" data-ng-click="cancel()">{{ cancel_btn | default:'Cancel' }}</a>
            <a class="btn" data-ng-click="accept()">{{ accept_btn | default:'Accept' }}</a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="exportDialog.html">
    <div class="page">
      <h1>{{ title | default:'Export' }}</h1>
      <div class="content-area">
        <pre data-auto-select style="max-width:600px; max-height:300px; overflow-y:auto;">{{ obj | json }}</pre>
      </div>
      <div class="action-area">
        <div class="action-area-right">
          <div class="button-strip">
            <a class="btn" download="{{ fname }}" data-ng-href="{{ dl_link }}" data-ng-click="close()">Download</a>
            <a class="btn" data-ng-click="close()">Done</a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="inputDialog.html">
    <div class="page">
      <h1 data-ng-show="title">{{ title }}</h1>
      <div class="content-area">
        <p data-ng-show="body">{{ body }}</p>
        <input style="width: 100%;" type="text" placeholder="{{ placeholder }}" data-ng-model="input">
      </div>
      <div class="action-area">
        <div class="action-area-right">
          <div class="button-strip">
            <a class="btn" data-ng-click="cancel()">{{ cancel_btn | default:'Cancel' }}</a>
            <a class="btn" data-ng-click="accept()">{{ accept_btn | default:'Accept' }}</a>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
