<!DOCTYPE html>
<html lang="en" data-ng-app="TabSetApp" data-ng-csp>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/fontawesome/css/font-awesome.min.css">
  <script type="text/javascript" src="../lib/underscore/underscore.min.js"></script>
  <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="../lib/angular/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="../lib/angular/ui-if.js"></script>
  <script type="text/javascript" src="../app.js"></script>
  <script type="text/javascript" src="controller.js"></script>

  <style>
    body {
      width: 380px;
      margin-top: 1em;
    }
    .nav-tabs a {
      cursor: pointer;
    }

    .tab-content {
      width: 380px;
      height:440px;
      overflow-y:auto;
    }

    .bordered-list {
      margin-left: 0;
      margin-bottom: 20px;
      list-style: none;
      line-height: 20px;
    }
    .bordered-list>li {
      float: none;
      border: 1px solid #ddd;
      border-radius: 0;
      margin-bottom: -1px;
      margin-right: 0;
      padding-top: 8px;
      padding-bottom:8px;
      padding-left: 12px;
      padding-right: 12px;
      width: 330px;
      white-space:nowrap;
    }

    .bordered-list>li:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .bordered-list>li:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .bordered-list>li:hover,
    .bordered-list>li:focus {
      background-color: #eeeeee;

    }
    .bordered-list>li>a {
      text-decoration: none;
    }

    .clickable {
      cursor: pointer;
    }
    .fit {
      display: block;
      overflow-x:hidden;
      text-overflow:ellipsis;
    }

    .small-info {
      font-size: 0.8em;
    }
    .small-info dt {
      text-align: right;
      float: left;
      width: 70px;
    }
    .small-info dd {
      text-align: left;
      margin-left: 80px;
    }
  </style>
</head>
<body data-ng-controller="BrowserActionController">
  <button class="close"><i class="icon-cogs"></i></button>
  <div autofocus id="main" data-ng-show="ready">
  <tabs>
    <pane data-ui-if="activeTabSet" data-heading="{{ activeTabSet.name }}" data-active="showDetails">
      <div class="btn-toolbar">
        <div class="btn-group" data-ng-init="activeFilter = 'all'">
          <button class="btn" data-ng-model="activeFilter" data-btn-radio="'open'">Opened</button>
          <button class="btn" data-ng-model="activeFilter" data-btn-radio="'close'">Closed</button>
          <button class="btn" data-ng-model="activeFilter" data-btn-radio="'all'">All</button>
        </div>
        <div class="btn-group">
          <button class="btn" data-tooltip="Export" data-tooltip-placement="bottom" data-ng-click="exportTabSet(activeTabSet)">
            <i class="icon-download-alt"></i>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn" data-tooltip="Rename" data-tooltip-placement="bottom" data-ng-click="renameTabSet(activeTabSet)">
            <i class="icon-edit"></i>
          </button>
          <button class="btn" data-tooltip="Compact" data-tooltip-placement="bottom">
            <i class="icon-resize-small"></i>
          </button>
        </div>
        <div class="btn-group">
           <button class="btn btn-danger" data-tooltip="Delete All" data-tooltip-placement="bottom">
            <i class="icon-fire"></i>
          </button>
        </div>
      </div>
      <ul class="bordered-list" data-ng-show="activeTabSet.entries.length > 0">
        <li data-ng-repeat="entry in activeTabSet.entries|filter:entryFilter(activeFilter)">
          <button class="close" data-ng-click="dropTabSetEntry(entry)">&times;</button>
          <a class="fit clickable" data-tooltip="{{ entry.url }}" data-ng-class="{muted: entry.isOpen}" data-ng-click="launchTabSetEntry(entry)">
            <img src="{{ entry.url | favicon }}">
            {{ entry.title | default:entry.url }}
          </a>
        </li>
      </ul>
      <p data-ng-show="activeTabSet.entries.length == 0">
        No tabs.
      </p>
    </pane>

    <pane data-heading="TabSets">
      <div class="btn-toolbar">
        <div class="input-append" style="margin-bottom:0; position:relative; height: 30px;" data-ng-hide="activeTabSet">
          <form class="form-inline">
            <input class="input-small" type="text" placeholder="New TabSet" autofocus data-ng-model="tabSetName">
            <button class="btn" style="margin-right:0.5em;" type="submit" data-tooltip="Create New TabSet" data-tooltip-placement="bottom" data-ng-click="createTabSet(tabSetName)">
              <i class="icon-external-link"></i>
            </button>
          </form>
        </div>

        <div class="btn-group">
          <button class="btn" data-tooltip="Export" data-tooltip-placement="bottom" data-ng-click="exportAllTabSets()">
            <i class="icon-download-alt"></i>
          </button>
          <button class="btn" data-tooltip="Import" data-tooltip-placement="bottom" data-ng-click="importTabSet()">
            <i class="icon-upload-alt"></i>
          </button>
        </div>

        <div class="btn-group">
           <button class="btn btn-danger" data-tooltip="Delete All" data-tooltip-placement="bottom">
            <i class="icon-fire"></i>
          </button>
        </div>
      </div>

      <ul class="bordered-list" data-ng-show="session.allTabSets.length > 0">
        <li class="dropdown" data-ng-repeat="tab_set in session.allTabSets">
          <button class="close dropdown-toggle"><i class="icon-caret-down"></i></button>
          <ul class="dropdown-menu pull-right">
            <li><a class="clickable" data-ng-click="infoTabSet(tab_set)"><i class="icon-info-sign"></i> Info</a></li>
            <li><a class="clickable" data-ng-click="exportTabSet(tab_set)"><i class="icon-download-alt"></i> Export</a></li>
            <li><a class="clickable" data-ng-click="renameTabSet(tab_set)"><i class="icon-edit"></i> Rename</a></li>
            <li><a class="clickable" data-ng-click="dropTabSet(tab_set)"><i class="icon-remove"></i> Delete</a></li>
          </ul>
          <span class="pull-right">
            <span class="badge" style='margin-right:1em;'>{{ tab_set.entries.length }}</span>
          </span>
          <a class="fit clickable" data-ng-click="launchTabSet(tab_set)" data-ng-class="{muted: tab_set == activeTabSet}">
            {{ tab_set.name }}<span ng-show="tab_set == activeTabSet"> (current)</span>
          </a>
        </li>
      </ul>
      <p data-ng-show="session.allTabSets.length == 0">
        No tabsets.
      </p>
    </pane>
  </tabs>
  </div>

  <script type="text/ng-template" id="exportDialog.html">
    <div class="modal-header">
      <button class="close" data-ng-click="close()">&times;</button>
      <h4>{{ title | default:'Export' }}</h4>
    </div>
    <div class="modal-body">
      <pre data-auto-select style="max-height:300px; overflow-y:auto;">{{ obj | json }}</pre>
    </div>
  </script>

  <script type="text/ng-template" id="importDialog.html">
    <div class="modal-header">
      <button class="close" data-ng-click="cancel()">&times;</button>
      <h4>{{ title | default:'Import' }}</h4>
    </div>
    <div class="modal-body">
      <textarea style="width:90%;" rows="12" data-ng-model="json"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn" data-ng-click="cancel()">{{ cancel_btn | default:'Cancel' }}</button>
      <button class="btn btn-primary" data-ng-click="import()"> {{ import_btn | default:'Import' }}</button>
    </div>
  </script>

  <script type="text/ng-template" id="confirmDialog.html">
    <div class="modal-header" data-ng-show="title">
      <h4>{{ title }}</h4>
    </div>
    <div class="modal-body" data-ng-show="body">
      {{ body }}
    </div>
    <div class="modal-footer">
      <button class="btn" data-ng-click="cancel()">{{ cancel_btn | default:'Cancel' }}</button>
      <button class="btn btn-primary" data-ng-click="accept()"> {{ accept_btn | default:'Accept' }}</button>
    </div>
  </script>

  <script type="text/ng-template" id="inputDialog.html">
    <div class="modal-header" data-ng-show="title">
      <button class="close" data-ng-click="cancel()">&times;</button>
      <h4>{{ title }}</h4>
    </div>
    <div class="modal-body">
      <p data-ng-show="body">{{ body }}</p>
      <input type="text" placeholder="{{ placeholder }}" data-ng-model="input">
    </div>
    <div class="modal-footer">
      <button class="btn" data-ng-click="cancel()">{{ cancel_btn | default:'Cancel' }}</button>
      <button class="btn btn-primary" data-ng-click="accept()"> {{ accept_btn | default:'Accept' }}</button>
    </div>
  </script>

  <script type="text/ng-template" id="infoDialog.html">
    <div class="modal-header">
      <h4 data-ng-show="title">{{ title }}</h4>
    </div>
    <div class="modal-body">
      <dl class="small-info" data-ng-repeat="info_group in info_groups">
        <div data-ng-repeat="(key, value) in info_group" data-ng-show="value">
          <dt>{{ key }}</dt>
          <dd>{{ value }}</dd>
        </div>
      </dl>
    </div>
  </script>

</body>
</html>
